.about {
  text-align: center;
  padding: 50px 20px;
  background: #60c4a9;
}

.about__container {
  row-gap: 2rem;
  text-align: center;
  background: #60c4a9;
}

.about__img img {
  width: 200px;
  border-radius: 0.5rem;
}